
/* Formatting/Styling the body */
body {
   width: 800px;
   height: 400px;
   text-align: center;
   color: whitesmoke;
   margin-left: auto;  /* Set to auto for browser to decide appropriate margin for both left and right */
   margin-right: auto;
}

#absolute {
    position: absolute;
}

header {
  width: 800px;
  height: 40px;
  background-color: #7E077E;
}

nav {
  height: 30px;  /* Setting Height of nav box to 30 pixels */
  width: 800px;  /* Setting Width of nav to the same as in body */
  background-color: #EB9101;  /* Setting background color of nav block */
  text-align: left;  /* Move navigation (nav) links to Left of Webpage */
}

article {
  float: left;
  width: 533px;  /* Setting Width of article box to 2/3 of body width */
  height: 220px;
  background-color: #00AD65;
}

section {
  width: 533px;  /* Setting Width of section box to 2/3 of body width */ 
  height: 80px;
  background-color: red;
  margin: 10px 0px 10px 0px;
}

aside {
  float: right;
  width: 267px;  /* Setting Width of aside box to 1/3 of body width */
  height: 220px;
  background-color: #FFF460
}

footer {
  clear: both;
  width: 800px;  /* Setting Width of nav box as in body */
  height: 30px;  /* Setting Height of nav box to 30 pixels */
  background-color: #EB9101;  /* Setting background color of nav block */
}

li {
  display: inline;  /* Formated links in nav to be side-by-side in inline style */
}

a:link, a:visited {
  color: whitesmoke;
  margin: 5px;
}

